@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@400;500;600;700&family=Open+Sans:wght@300;400;700&display=swap');

:root {
    --white: #fff;
    --light: #fafafa;
    --light-gray: #aaa;
    --light-variant: #f5efdb;
    --dark-gray: #545454;
    --dark: #0c0c0c;
    --dark-variant: #dcca87;
    --xs-container-width: 90%;
    --sm-container-width: 85%;
    --md-container-width: 80%;
    --lg-container-width: 70%;
    --font-headers: 'Cormorant Upright', serif;
    --font-content: 'Open Sans', sans-serif;
}
/* ================ Global Styles ================= */
*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    background-color: var(--dark);
    font-size: 62.5%;
    font-family: var(--font-content);
    overflow-x:hidden;
}
a{
    text-decoration: none;
    color: var(--white);
}
ul{
    list-style: none;
}
h1,
h2,
h3{
    font-family: var(--font-headers);
    font-weight: 700;
}
h1,
h2{
    color: var(--dark-variant);
}
h2{
    font-size: 6em;
}
h3{ 
    color: var(--white);
    font-size: 2.4em;
}
h4{ 
    color: var(--dark-variant);
    font-size: 3.4em;
    font-family: var(--font-headers);
}
p{
    color: var(--light-gray);
    font-size: 1.6em;
    line-height: 2em;
}
img{
    object-fit: cover;
}
/* ================ Utility Class ================= */
.d-flex{
    display: flex;
}
.container{
    width: var(--lg-container-width);
    height: auto;
    margin: 0 auto;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.flip{
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}
.p-relative{
    position: relative;
}
.p-absolute{
    position: absolute;
}

/* ================ Header Section================= */
nav{
    width: 100%;
    padding: 4em 10em;
    justify-content: space-between;
    align-items: center;
}
.logo{
    color: var(--white);
    font-size: 4em;
    font-family: var(--font-headers) ;
    font-weight: 700;
    text-transform: uppercase;
}
.nav-bar li,
.login-links li{
    padding: 1.4em 2em;
}
.nav-bar a,
.login-links a{
    font-size: 1.4em;
}
.login-links li:nth-child(1){
    border-right: 1px solid rgba(170, 170, 170, 0.3);
}
.navbar__wrapper-sm{
    display: none;
}
.toggle-button{
    cursor: pointer;
    position: relative;
    z-index: 999;
}
.toggle-button img{
    width: 3em;
}
.nav-links--sm{
    display: none;
    width: 100%;
    height: 100vh;
    background-color: var(--dark);
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: dropDown .5s ease-in-out;
}
.nav-links--sm a{
    font-family: var(--font-headers);
    color: var(--dark-variant);
    font-size: 4em;
}
.nav-links--sm a:hover{
    color: var(--white);
}
.nav-links--sm li{
    padding: 2em 0;
}
.open{
    display: flex;
}
@keyframes dropDown {
    0% { 
        opacity: 0;
        transform: translateY(-100vh);
      }
    
      100% {
        opacity: 1;
        transform: translateY(0);
      }
}
header{
    width: 100%;
    height: 100vh;
}
.header__content_wrapper{
    justify-content: space-between;
    padding: 4em 0;
}
.header__wrapper_info{
    width: 50%;
    padding-right: 20em;
}
.header__wrapper_image{
    width: 50%;
}
.header__sub-heading{
    margin-top: 2em;
    margin-bottom: .5em;
}
.icon-spoon{
    margin-bottom: 2em;
}
.header-h1{
    font-size: 10em;
    margin-bottom: .5em;
}
.header-content{
    margin-bottom: 2em;
}
.custom__button{
    background-color: var(--dark-variant);
    border: none;
    padding: .5em 2em;
    font-family: var(--font-headers);
    font-size: 2em;
    font-weight: 700;
    border-radius: .1em;
    cursor: pointer;
}
/* ================ About Section================= */
.about{
    background-image: url("../images/about-bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height:auto;
    position: relative;
    padding: 15em 0;
}
.about__content_wrapper{
    justify-content: space-between;
}
.about__wrapper,
.history__wrapper,
.knife__wrapper{
    position:relative;
    z-index:2;
}
.overlay__image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.knife__wrapper{
    margin: 0 10em;
}
.about-heading,
.history-heading{
    padding-top: 3em;
}
.about-content,
.history-content{
    margin-top: 1em;
    margin-bottom: 2em;
}

/* ================ Reservation Section================= */
.reservations{
    padding: 20em 0;
}
.reservation__wrapper{
    width: 100%;
    border: 1px solid rgba(220, 202, 135, 0.2);
    box-shadow: 2px 21px 40px 4px rgba(53,53,53,0.1);
    -webkit-box-shadow: 2px 21px 40px 4px rgba(53,53,53,0.1);
    -moz-box-shadow: 2px 21px 40px 4px rgba(53,53,53,0.1);
    padding: 6em 0;
}
.reservation__sub-heading{
    margin-bottom: .5em;
}
.reservation-heading{
    margin-bottom: 1em;;
}
.reservation__select-options .select__wrapper select:nth-child(2){
    margin: 0 2em;
}
.reservation__select-options .select__wrapper{
    margin-bottom: 5em;
}
.reservation__select-options{
    justify-content: space-evenly;
    padding: 0 10em;
}
.reservation__select-options .select__wrapper select{
    background-color: var(--dark);
    cursor: pointer;
    outline: none;
    color: var(--light-gray);
    padding: .6em 1em;
    font-family: var(--font-headers);
    font-size: 2em;
    min-width: 16em;
    border: 1px solid rgba(220, 202, 135, 0.5);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.reservation__select-options .select__wrapper{
    position: relative;
}
.reservation__select-options .select__wrapper::after{
    content: '';
    position: absolute;
    z-index: 999;
    top: 2em;
    right: 2em;
    border: .7em solid transparent;
    border-top: .7em solid var(--dark-variant) ;
}
.design__element-reservations{
    top: -23em;
    right: -12em;
}
/* ================ Menu Section================= */
.menu{
    background-image: url("../images/bg-menu.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 80em;
    position: relative;
}
.menu::after{
    content: '';
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
}
.menu__wrapper{
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.menu__wrapper h2:nth-child(3){
    border-right: 3px solid rgba(170, 170, 170, 0.8);
    border-left: 3px solid rgba(170, 170, 170, 0.8);
}
.menu-heading{
    color: var(--white);
    position: relative;
    z-index: 2;
    padding: 3.8em 2.4em;
}
.design__element-menu{
    top: 0;
    left: 0;
}
/* ================ Special Section ================= */
.special{
    width: 100%;
    height: auto;
    padding: 15em 0;
}
.special__sub-heading{
    margin-bottom: .5em;
}
.special-heading{
    margin-bottom: 1em;
}
.special__list-heading{
    color: var(--white);
    margin: 2em 0 1em 0;
}
.special__content__wrapper{
    justify-content: space-between;
    margin-bottom: 6em;
}
.list__wrapper{
    margin-bottom: 3em;
}
.list__wrapper h5{
    color: var(--dark-variant);
    font-family: var(--font-headers);
    font-size: 2em;
}
.list-detail{
    display: block;
    color: var(--dark-gray);
    font-family: var(--font-content);
    font-size: 1.4em;
    text-align: left;
}
.list-price{
    color: var(--white);
    font-family: var(--font-headers);
    font-size: 2em;
}
.list-divider{
    background-color: var(--dark-gray);
    width: 15em;
    height: .1em;
}
.item__wrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-bottom: .8em;
}
.content__wrapper-wine{
    display: flex;
    flex-direction: column;
    flex: .4;
}
.content__wrapper-image{
    display: flex;
    flex-direction: column;
    flex: .2;
    margin: 0 4em;
}

.content__wrapper-cocktail{
    display: flex;
    flex-direction: column;
    flex: .4;
}
/* ================ Team Section ================= */
.team{
    background-image: url("../images/about-bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height:auto;
    padding: 15em 0;
}
.team__sub-heading{
    margin-top: 3em;
    margin-bottom: .5em;
}
.team-heading{
    margin-bottom: 1.2em;
}
.team-content::before{
    content: url('../images/quote.png');
    margin-right: 1em;
}
.figure-name{
    margin-bottom: .2em;
}
.figure-title{
    color: var(--light-gray);
    font-family: var(--font-content);
    font-size: 1.4em;
    display: block;
    margin-bottom: 3em;
}
.team-content{
    margin-bottom: 5em;
}
.team__wrapper__content{
    margin-left: 10em;
}
.design__element-team{
    top:-23em;
    right: 0;
}
/* ================ Testimonials Section ================= */
.testimonials{
    padding: 15em 0;
}
.testimonials__content-wrapper{
    width: 100%;
    height: auto;
    flex-wrap: wrap;
}
.testimonials__wrapper{
    width: 50%;
}
.testimonials__sub-heading{
    margin-bottom: .5em;
}
.testimonials-heading{
    margin-bottom: 1.5em;
}
.testimonials__content{
    padding: 2em 2em 0 2em;
}
.testimonials-desc{
    font-size: 1.4em;
    font-style: italic;
    margin-bottom: 1em;
}
/* ================ Video Section ================= */
.video{
    background-image: url("../images/video.png");
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height:75em;
}
.video-button{
    width: 10em;
    height: 10em;
    border: 1px solid var(--dark-variant);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    position: relative;
    transform: translate(-50%, -50%);
}
.video-button::before{
    content: '';
     position: absolute;
     top: 50%;
     left: 60%;
     width: 0;
     height: 0;
     transform: translate(-50%,-50%);
     border: 1.4em solid transparent;
     border-left: 1.4em solid var(--white);
}
.design__element-video{
    top: 15em;
    left: 20em;
}
/* ================ Awards Section ================= */
.awards{
    background-image: url("../images/about-bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height:auto;
    padding: 15em 0;
}
.awards__wrapper{
    justify-content: space-between;
}
.awards__wrapper-list{
    width: 100%;
    height: auto;
    flex-wrap: wrap;
}
.list__wrapper-content{
    width: 50%;
}
.awards__sub-heading{
    margin-bottom: .5em;
    margin-top: 3em;
}
.awards-heading{
    margin-bottom: 1em;
}
.list__wrapper-image{
    margin-right: 3em;
}
.awards-desc{
    font-size: 1.2em;
}
.list-heading{
    color: var(--dark-variant);
    font-size: 1.8em;
    font-family: var(--font-headers);
    margin-bottom: .5em;
}
.list__wrapper-content:nth-child(1){
    margin-bottom: 5em;
}
.g-light{
    bottom: 0;
    left: -8em;
}
/* ================ Blogs Section ================= */
.blogs{
    padding: 15em 0;
}
.blog__post-detail{
    justify-content: space-between;
    margin-bottom: 3em;
}
.blog__post-detail span{
    display: block;
    color: var(--light);
    font-family: var(--font-content);
    font-size: 1.2em;
}
.blogs__sub-heading{
    margin-bottom: .5em;
}
.blogs-heading{
    margin-bottom: 1em;
}
.blogs__wrapper{
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 5em;
}
.blog__wrapper-content{
    width: 30%;
    margin: 0 1em;
}
.blog__image__wrapper{
    margin-bottom: 3em;
}
.blog__image__wrapper img{
    width: 100%;
    object-fit:cover;
}
.blog-title{
    color: var(--dark-variant);
    font-family: var(--font-headers);
    font-size: 2.8em;
    text-decoration: underline;
    font-weight: 300;
    margin-bottom: 1.2em;
    text-align: left;
}
.blog-desc{
    font-size: 1.4em;
    margin-bottom: 2em;
    text-align: left;
}
.blog-readmore{
    font-family: var(--font-headers);
    color: var(--dark-variant);
    font-size: 1.6em;
    text-align: left;
    display: block;
}
.design__element-blog {
    bottom: 10em;
    right: 10em;
}
/* ================ Gallery Section ================= */
.gallery{
    background-image: url("../images/about-bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height:auto;
    padding: 15em 0;
}
.gallery__sub-heading{
    margin-bottom: .5em;
    margin-top: 2.5em;
}
.gallery-heading{
    margin-bottom: .8em;
}
.gallery-content{
    margin-bottom: 2em;
}
.gallery__image__wrapper{
    position: relative;
    overflow: hidden;
    width: 200em;
    height: 45em;
    margin-right: -30em;
}
.gallery__list{
    position: absolute;
}
.gallery__item{
    margin: 0 .5em;
}
/* ================ Subscribe Section ================= */
.subscribe{
    width: 100%;
    height: auto;
    padding: 15em 0;
}
.subscribe__wrapper{
    border: 1px solid rgba(220, 202, 135, 0.2);
    box-shadow: 2px 21px 40px 4px rgba(53,53,53,0.1);
    -webkit-box-shadow: 2px 21px 40px 4px rgba(53,53,53,0.1);
    -moz-box-shadow: 2px 21px 40px 4px rgba(53,53,53,0.1);
    width: 100%;
    padding: 10em 0;
}
.subscribe__sub-heading{
    margin-bottom: .5em;
}
.subscribe-heading{
    margin-bottom: .5em;
}
.subscribe__wrapper p{
    font-size: 1.4em;
    font-family: var(--font-content);
    margin-bottom: 4em;
    color: var(--white);
}
.form__wrapper{
    width: 100%;
    justify-content: space-evenly;
    padding: 0 30em;
}
.form__wrapper input{
    background-color: var(--dark);
    outline: none;
    border: 1px solid rgba(220, 202, 135, 0.5);
    width: 38em;
    padding: 1em;
    color: var(--light-gray);
    font-family: var(--font-headers);
}
.form__wrapper input::placeholder{
    color: var(--white);
}
.design__element-subscribe{
    left: 10em;
    top: -5em;
}
/* ================ Footer Section ================= */
footer{
    background-image: url("../images/about-bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height:auto;
    padding: 15em 0;
}
.footer__content__wrapper{
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 5em;
}
.footer__wrapper:nth-child(1){
    display: flex;
    flex-direction: column;
    flex: .2;
}
.footer__wrapper:nth-child(2){
    display: flex;
    flex-direction: column;
    flex: .6;
}
.footer__wrapper:nth-child(3){
    display: flex;
    flex-direction: column;
    flex: .2;
}
.footer-logo{
    color: var(--dark-variant);
    text-transform: uppercase;
    font-size: 5em;
    font-family: var(--font-headers);
    margin-bottom: .5em;
    margin-top: -.4em;
}
.footer-header{
    font-family: var(--font-headers);
    color: var(--white);
    font-size: 2em;
    margin-bottom: 1.2em;
}
.footer-contacts{
    color: var(--light-gray);
    font-size: 1.2em;
}
.footer-contacts li{
    margin-bottom: 1em;
}
.footer__wrapper p{
    font-size: 1.4em;
    color: var(--white);
    margin-bottom: 1em;
}
.footer-social{
    justify-content: center;
}
.footer-social li{
    padding: 1em;
}
.copyright{
    font-size: 1.4em;
    color: var(--light-gray);
    text-align: center;
}
/* ========================================================================
========================== MEDIA QUERIES ===============================
======================================================================== */

/* ================ Responsive Design Small Devices================= */
@media screen and (max-width:576px) {
    .container{
        width: var(--sm-container-width);
    }
    nav{
        width: 100%;
        padding: 2em 3em;
    }
    .nav-bar{
        display: none;
    }
    .login-links{
        display: none;
    }
    .navbar__wrapper-sm{
        display: block;
    }
    .header__content_wrapper{
        display: block;
    }
    header{
        height: auto;
        padding-bottom: 5em;
    }
    .header__wrapper_info{
        width: 100%;
        padding-right: 0;
        margin-bottom: 5em;
    }
    .header__wrapper_image{
        width: 100%;
    }
    .header__sub-heading{
        margin-top: 1em;
    }
    .header-h1{
        font-size: 8em;
        margin-bottom: .3em;
    }
    .header__wrapper_image{
        text-align: center;
    }
    .header__wrapper_image img{
        width: 100%;
    }
    .about{
        padding: 10em 0;
    }
    .about__content_wrapper{
        display: block;
    }
    .about__wrapper{
        margin-bottom: 10em;
    }
    .knife__wrapper{
        margin: 0;
        text-align: center;
    }
    .about-heading{
        padding-top: 0;
    }
    .history-heading{
        padding-top: 1em;
    }
    .about-content,
    .history-content{
        margin-top: 1em;
        margin-bottom: 2em;
    }
    .reservations{
        padding: 10em 0;
    }
    .reservation__select-options{
        flex-direction: column;
        padding: 0 5em;
    }
    .reservation__select-options .select__wrapper::after{
        right: 4em;
    }
    .menu__wrapper{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
    }
    .menu__wrapper h2:nth-child(3){
        border-right: none;
        border-left: none;
        border-top: 3px solid rgba(170, 170, 170, 0.8);
        border-bottom: 3px solid rgba(170, 170, 170, 0.8);
    }
    .menu-heading{
        padding: .5em 1em;
    }
    .special{
        padding: 10em 0;
    }
    .special__list-heading{
        color: var(--white);
        margin: 0 0 1em 0;
    }
    .special__content__wrapper{
        flex-direction: column;
    }
    .content__wrapper-cocktail{
        margin-top: 5em;
    }
    .team{
        padding: 10em 0;
    }
    .team-heading{
        margin-bottom: 1em;
    }
    .team-content{
        margin-bottom: 3em;
    }
    .team__wrapper__content{
        margin-left: 0;
    }
    .team__wrapper{
        flex-direction: column;
    }
    .team__wrapper-image img{
        width: 100%;
    }
    .design__element-team{
        top:-18em;
        right: 0;
    }
    .testimonials{
        padding: 10em 0;
    }
    .testimonials__content-wrapper{
        flex-direction: column;
    }
    .testimonials__wrapper{
        width: 100%;
    }
    .testimonials-heading{
        margin-bottom: 1em;
    }
    .testimonials__content{
        padding: 0 0 0 2em;
    }
    .testimonials__content-wrapper > div:nth-child(4) .figure-title{
        margin-bottom: 0;
    }
    .design__element-video{
        top: 8em;
        left: 8em;
    }
    .awards{
        padding: 10em 0;
    }
    .awards__wrapper{
        justify-content: center;
        flex-direction: column;
    }
    .awards__wrapper-image{
        text-align: center;
    }
    .awards__wrapper-image img{
        width: 80%;
    }
    .awards__wrapper-list{
        margin-bottom: 3em;
    }
    .list__wrapper-content{
        width: 100%;
        margin-bottom: 3em;
    }
    .awards__sub-heading{
        margin-top: 0;
    }
    .list__wrapper-content:nth-child(1){
        margin-bottom: 3;
    }
    .g-light{
        bottom: 0;
        left: -3em;
    }
    .blogs{
        padding: 10em 0;
    }
    .blog__post-detail{
        margin-bottom: 2em;
    }
    .blog__wrapper-content{
        width: 45%;
        margin: 0 1em;
    }
    .blog-title{
        margin-bottom: 1em;
    }
    .blog-readmore{
        margin-bottom: 2em;
    }
    .design__element-blog {
        bottom: 20em;
        right: 5em;
    }
    .gallery{
        padding: 10em 0;
    }
    .gallery__wrapper{
        flex-direction: column;
    }
    .gallery__content__wrapper{
        margin-bottom: 5em;
    }
    .gallery__sub-heading{
        margin-top: 0;
    }
    .gallery-heading{
        margin-bottom: .8em;
    }
    .gallery-content{
        margin-bottom: 2em;
    }
    .gallery__image__wrapper{
        position: relative;
        overflow: hidden;
        width: 200em;
        height: 45em;
        margin-right: -30em;
    }
    .gallery__list{
        position: absolute;
    }
    .gallery__item{
        margin: 0 .5em;
    }
    .subscribe{
        padding: 10em 0;
    }
    .subscribe__wrapper p{
        margin-bottom: 5em;
    }
    .form__wrapper{
        justify-content: center;
        padding:  0 5em;
        flex-direction: column;
    }
    .form__wrapper input{
        width: 100%;
        margin-bottom: 2em;
    }
    .design__element-subscribe{
        left: 5em;
        top: -8em;
    }
    footer{
        padding: 10em 0;
    }
    .footer__content__wrapper{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer__wrapper:nth-child(1){
        flex: 1;
        margin-bottom: 2em;
    }
    .footer__wrapper:nth-child(2){
        flex: 1;
        order: 1;
    }
    .footer__wrapper:nth-child(3){
        flex: 1;
        margin-bottom: 3em;
    }
}
/* ================ Responsive Design Medium Devices================= */
@media screen and (min-width: 577px) and (max-width:768px) {
    .nav-bar{
        display: none;
    }
    .navbar__wrapper-sm{
        display: block;
    }
    .container{
        width: var(--md-container-width);
    }
    nav{
        padding: 4em 7em;
    }
    .logo{
        font-size: 3.6em;
    }
    .login-links li{
        padding: 1.4em 1em;
    }
    .login-links a{
        font-size: 1.2em;
    }
    .toggle-button img{
        width: 2.5em;
    }
    header{
        height: auto;
    }
    .header__content_wrapper{
        flex-direction: column;
        justify-content: center;
        padding: 10em 0;
    }
    .header__wrapper_info{
        width: 100%;
        padding-right: 0;
        margin-bottom: 8em;
    }
    .header__wrapper_image{
        width: 100%;
    }
    .header__wrapper_image img{
        width: 100%;
    }
    .header__sub-heading{
        margin-top: 0;
    }
    .header-content{
        margin-bottom: 2.5em;
    }
    .about{
        padding: 10em 0;
    }
    .about__content_wrapper{
        display: block;
    }
    .about__wrapper{
        margin-bottom: 10em;
    }
    .knife__wrapper{
        margin: 0;
        text-align: center;
    }
    .about-heading{
        padding-top: 0;
    }
    .history-heading{
        padding-top: 1em;
    }
    .about-content,
    .history-content{
        margin-top: 1em;
        margin-bottom: 2em;
    }
    .reservations{
        padding: 10em 0;
    }
    .reservation__select-options{
        flex-direction: column;
        padding: 0 8em;
    }
    .reservation__select-options .select__wrapper::after{
        right: 8em;
    }
    .design__element-reservations{
        top: -18em;
        right: -5em;
    }
    .menu__wrapper{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
    }
    .menu__wrapper h2:nth-child(3){
        border-right: none;
        border-left: none;
        border-top: 3px solid rgba(170, 170, 170, 0.8);
        border-bottom: 3px solid rgba(170, 170, 170, 0.8);
    }
    .menu-heading{
        padding: .5em 1em;
    }
    .special{
        padding: 10em 0;
    }
    .special__list-heading{
        color: var(--white);
        margin: 0 0 1em 0;
    }
    .special__content__wrapper{
        flex-direction: column;
    }
    .content__wrapper-cocktail{
        margin-top: 5em;
    }
    .team{
        padding: 10em 0;
    }
    .team-heading{
        margin-bottom: 1em;
    }
    .team-content{
        margin-bottom: 3em;
    }
    .team__wrapper__content{
        margin-left: 0;
    }
    .team__wrapper{
        flex-direction: column;
    }
    .team__wrapper-image img{
        width: 100%;
    }
    .design__element-team{
        top:-18em;
        right: 0;
    }
    .testimonials{
        padding: 10em 0;
    }
    .testimonials__content-wrapper{
        flex-direction: column;
    }
    .testimonials__wrapper{
        width: 100%;
        margin-bottom: 8em;
    }
    .testimonials__wrapper:last-child{
        margin-bottom: 0;
    }
    .testimonials-heading{
        margin-bottom: 1em;
    }
    .testimonials__content{
        padding: 0 0 0 2em;
    }
    .testimonials__content-wrapper > div:nth-child(4) .figure-title{
        margin-bottom: 0;
    }
    .design__element-video{
        top: 4em;
        left: 4em;
    }
    .awards{
        padding: 10em 0;
    }
    .awards__wrapper{
        justify-content: center;
        flex-direction: column;
    }
    .awards__wrapper-image{
        text-align: center;
    }
    .awards__wrapper-image img:last-child{
        width: 90%;
    }
    .awards__wrapper-list{
        margin-bottom: 3em;
    }
    .list__wrapper-content{
        width: 50%;
        margin-bottom: 3em;
    }
    .awards__sub-heading{
        margin-top: 0;
    }
    .list__wrapper-content:nth-child(1){
        margin-bottom: 3;
    }
    .g-light{
        bottom: 0;
        left: -7em;
        width: 70%;
    }
    .blogs{
        padding: 10em 0;
    }
    .blog__post-detail{
        margin-bottom: 2em;
    }
    .blog__wrapper-content{
        width: 45%;
        margin: 0 1em;
    }
    .blog-title{
        margin-bottom: 1em;
    }
    .blog-readmore{
        margin-bottom: 2em;
    }
    .design__element-blog {
        bottom: 20em;
        right: 5em;
    }
    .gallery{
        padding: 10em 0;
    }
    .gallery__wrapper{
        flex-direction: column;
    }
    .gallery__content__wrapper{
        margin-bottom: 5em;
    }
    .gallery__sub-heading{
        margin-top: 0;
    }
    .gallery-heading{
        margin-bottom: .8em;
    }
    .gallery-content{
        margin-bottom: 2em;
    }
    .gallery__image__wrapper{
        position: relative;
        overflow: hidden;
        width: 200em;
        height: 45em;
        margin-right: -30em;
    }
    .gallery__list{
        position: absolute;
    }
    .gallery__item{
        margin: 0 .5em;
    }
    .subscribe{
        padding: 10em 0;
    }
    .subscribe__wrapper p{
        margin-bottom: 5em;
    }
    .form__wrapper{
        justify-content: center;
        padding:  0 5em;
        flex-direction: column;
    }
    .form__wrapper input{
        width: 100%;
        margin-bottom: 2em;
    }
    .design__element-subscribe{
        left: 5em;
        top: -8em;
    }
    footer{
        padding: 10em 0;
    }
    .footer__content__wrapper{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer__wrapper:nth-child(1){
        flex: 1;
        margin-bottom: 2em;
    }
    .footer__wrapper:nth-child(2){
        flex: 1;
        order: 1;
    }
    .footer__wrapper:nth-child(3){
        flex: 1;
        margin-bottom: 3em;
    }
    
}
/* ================ Responsive Design Large Screens================= */
@media screen and (min-width: 769px) and (max-width:1200px) {
    h2{
        font-size: 4em;
    }
    h3{ 
        font-size: 2em;
    }
    p{
        font-size: 1.4em;
        line-height: 2em;
    }
    .container{
        width: var(--xs-container-width);
    }
    nav{
        padding: 2em 4em;
    }
    header{
        height: auto;
    }
    .logo{
        font-size: 3em;
    }
    .nav-bar li,
    .login-links li{
        padding: 1.4em 1.2em;
    }
    .nav-bar a,
    .login-links a{
        font-size: 1.2em;
    }
    .header__content_wrapper{
        justify-content: space-between;
        align-items: center;
        padding: 10em 0;
    }
    .header__wrapper_info{
        width: 100%;
        padding-right: 8em;
    }
    .header__wrapper_image img{
        width: 100%;
    }
    .header-h1{
        font-size: 7em;
    }
    .custom__button{
        font-size: 1.8em;
    }
    .about{
        padding: 10em 0;
    }
    .reservations{
        padding: 15em 0;
    }
    .reservation__select-options select{
        width: 100%;
    }
    .reservation__select-options{
        flex-direction: column;
        padding: 0 30em;
    }
    .reservation__select-options .select__wrapper::after{
        right: 2em;
    }
    .design__element-menu{
        top: 0;
        left: 0;
    }
    .special{
        padding: 10em 0;
    }
    .special__content__wrapper{
        justify-content: space-between;
        margin-bottom: 6em;
    }
    .special__list-heading{
        margin-top: 1em;
    }
    .list__wrapper h5{
        font-size: 1.8em;
    }
    .list-detail{
        font-size: 1.2em;
    }
    .list-price{
        font-size: 1.8em;
    }
    .list-divider{
        width: 5em;
        height: .1em    }
    .content__wrapper-wine{
        flex: .3;
    }
    .content__wrapper-image{
        flex: .4;
        margin: 0 2em;
    }
    .content__wrapper-image img{
        width: 100%;
    }
    
    .content__wrapper-cocktail{
        flex: .3;
    }
    .team{
        padding: 10em 0;
    }
    .team__sub-heading{
        margin-top: 1em;
    }
    .figure-name{
        margin-bottom: .2em;
        font-size: 2.4em;
    }
    .figure-title{
        font-size: 1.2em;
    }
    .team-content{
        margin-bottom: 3em;
    }
    .team__wrapper__content{
        width: 100%;
        margin-left: 5em;
    }
    .team__wrapper-image{
        width: 100%;
    }
    .team__wrapper-image img{
        width: 100%;
    }
    .team__wrapper__content > div > img {
        width: 20em;
    }
    .design__element-team{
        position: absolute;
        top: -18em;
        right: 0;
    }
    .testimonials{
        padding: 10em 0;
    }
    .testimonials__content{
        padding: 1.5em 1.5em 0 1em;
    }
    .testimonials-desc{
        font-size: 1.2em;
    }
    .design__element-video{
        top: 5em;
        left: 5em;
    }
    .awards{
        padding: 10em 0;
    }
    .awards__wrapper-list{
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .list__wrapper-content{
        width: 100%;
    }
    .awards__sub-heading{
        margin-top: 1.5em;
    }
    .awards__wrapper-image{
        width: 50%;
    }
    .awards__wrapper-image img:last-child{
        width: 100%;
    }
    .g-light{
        bottom: 0em;
        left: -8em;
        width: 70%;
    }
    .list__wrapper-content{
        margin-bottom: 3.5em;
    }
    .blogs{
        padding: 10em 0;
    }
    .blog__post-detail span{
        font-size: 1em;
    }
    .blog__image__wrapper{
        margin-bottom: 3em;
    }
    .blog-title{
        font-size: 2.4em;
    }
    .blog-desc{
        font-size: 1.2em;
    }
    .design__element-blog {
        bottom: 0em;
        right: 10em;
    }
    /* ================ Gallery Section ================= */
    .gallery{
        background-image: url("../images/about-bg.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        width: 100%;
        height:auto;
        padding: 15em 0;
    }
    .gallery__sub-heading{
        margin-bottom: .5em;
        margin-top: 2.5em;
    }
    .gallery-heading{
        margin-bottom: .8em;
    }
    .gallery-content{
        margin-bottom: 2em;
    }
    .gallery__image__wrapper{
        position: relative;
        overflow: hidden;
        width: 200em;
        height: 45em;
        margin-right: -30em;
    }
    .gallery__list{
        position: absolute;
    }
    .gallery__item{
        margin: 0 .5em;
    }
    .subscribe{
        padding: 10em 0;
    }
    .form__wrapper{
        padding: 0 22em;
    }
    .form__wrapper input{
        width: 30em;
    }
    .design__element-subscribe{
        left: 10em;
        top: -5em;
    }
    footer{
        padding: 10em 0;
    }
    .footer__wrapper:nth-child(1){
        flex: .3;
    }
    .footer__wrapper:nth-child(2){
        flex: .3;
    }
    .footer__wrapper:nth-child(3){
        flex: .3;
    }
    .footer-logo{
        font-size: 4em;
    }
    .footer-header{
        font-size: 2em;
    }
    .footer-contacts{
        font-size: 1.2em;
    }
    .footer__wrapper p{
        font-size: 1.4em;
    }
    .copyright{
        font-size: 1.4em;
    }
}

/* ================ Responsive Design Extra Large Screens================= */
@media screen and (min-width:1201px) and (max-width:1400px) {
    h2{
        font-size: 5em;
    }
    h3{ 
        font-size: 3em;
    }
    p{
        font-size: 1.6em;
    }
    .container{
        width: var(--xs-container-width);
    }
    nav{
        padding: 3em 6em;
    }
    header{
        height: auto;
    }
    .logo{
        font-size: 4em;
    }
    .nav-bar li,
    .login-links li{
        padding: 1.4em 1.6em;
    }
    .nav-bar a,
    .login-links a{
        font-size: 1.4em;
    }
    .header__sub-heading{
        margin-top: 2em;
    }
    .header__content_wrapper{
        padding: 5em 0;
    }
    .header__wrapper_image img{
        width: 100%;
    }
    .header-h1{
        font-size: 8em;
    }
    .custom__button{
        font-size: 2em;
    }
    .about{
        padding: 10em 0;
    }
    .reservations{
        padding: 15em 0;
    }
    .reservation__sub-heading{
        margin-bottom: .5em;
    }
    .reservation-heading{
        margin-bottom: 1em;;
    }
    .reservation__select-options .select__wrapper select:nth-child(2){
        margin: 0 2em;
    }
    .reservation__select-options .select__wrapper{
        margin-bottom: 5em;
    }
    .reservation__select-options{
        justify-content: space-evenly;
        padding: 0 5em;
    }
    .reservation__select-options .select__wrapper select{
        min-width: 14em;
    }
    .design__element-reservations{
        top: -23em;
        right: -12em;
    }
    .design__element-menu{
        top: 0;
        left: 0;
    }
    .special{
        padding: 10em 0;
    }
    .list__wrapper h5{
        font-size: 2em;
    }
    .list-detail{
        font-size: 1.4em;
    }
    .list-price{
        font-size: 2em;
    }
    .list-divider{
        width: 8em;
    }
    .content__wrapper-wine{
        flex: .3;
    }
    .content__wrapper-image{
        flex: .4;
        margin: 0 2em;
    }
    .content__wrapper-image img{
        width: 100%;
    }
    
    .content__wrapper-cocktail{
        flex: .3;
    }
    .team{
        padding: 10em 0;
    }
    .figure-name{
        font-size: 2.6em;
    }
    .figure-title{
        font-size: 1.4em;
    }
    .team-content{
        margin-bottom: 3em;
    }
    .team__wrapper__content{
        width: 100%;
        margin-left: 5em;
    }
    .team__wrapper__content > div > img {
        width: 20em;
    }
    .design__element-team{
        position: absolute;
        top: -18em;
        right: 0;
    }
    .testimonials{
        padding: 10em 0;
    }
    .testimonials__content{
        padding: 1.5em 1.5em 0 1em;
    }
    .testimonials-desc{
        font-size: 1.4em;
    }
    .design__element-video{
        top: 5em;
        left: 5em;
    }

    .g-light{
        bottom: 0em;
        left: -8em;
        width: 70%;
    }
    .list__wrapper-content{
        margin-bottom: 3.5em;
    }

    .design__element-blog {
        bottom: 0em;
        right: 10em;
    }
    .awards{
        padding: 10em 0;
    }
    .blogs{
        padding: 10em 0;
    }
    /* ================ Gallery Section ================= */
    .gallery{
        background-image: url("../images/about-bg.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        width: 100%;
        height:auto;
        padding: 15em 0;
    }
    .gallery__sub-heading{
        margin-bottom: .5em;
        margin-top: 2.5em;
    }
    .gallery-heading{
        margin-bottom: .8em;
    }
    .gallery-content{
        margin-bottom: 2em;
    }
    .gallery__image__wrapper{
        position: relative;
        overflow: hidden;
        width: 200em;
        height: 45em;
        margin-right: -30em;
    }
    .gallery__list{
        position: absolute;
    }
    .gallery__item{
        margin: 0 .5em;
    }
    .form__wrapper input{
        width: 40em;
    }

}
/* ================ Responsive Design Large Screens================= */
@media screen and (min-width: 1401px) and (max-width:1680px) {
    .container{
        width: var(--md-container-width);
    }
 
}

